/debian/debhelper-build-stamp
/debian/.debhelper
/debian/metlibs-coserver-dev.debhelper.log
/debian/metlibs-coserver-dev.substvars
/debian/metlibs-coserver-dev
/debian/files
/.settings/
/.autotools
/.cproject
/.project
