/autom4te.cache
Makefile
Makefile.in
/aclocal.m4
/config.guess
/config.log
/config.status
/config.sub
/configure
/src/.deps
/src/.libs
/src/*.la
/src/*.lo
/src/*.o
/depcomp
/install-sh
/libtool
/ltmain.sh
/coserver.pc
/missing
/debian/debhelper-build-stamp
/debian/.debhelper
/debian/metlibs-coserver-dev.debhelper.log
/debian/metlibs-coserver-dev.substvars
/debian/metlibs-coserver-dev
/debian/files
/src/*.moc.cc
/m4/libtool.m4
/m4/lt*.m4
/compile
/.settings/
/.autotools
/.cproject
/.project
